<h1>Admin::Homes#top</h1>
<p>Find me in app/views/admin/homes/top.html.erb</p>

<!-- app/views/admin/homes/top.html.erb -->
<h1>管理者トップページ</h1>

<h2>コメント一覧</h2>
<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.content %></li> <!-- コメントの内容を表示 -->
  <% end %>
</ul>
