<h1>Homes#top "root</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<h1>Welcome to the Post Feed</h1>

<% @posts.each do |post| %>
  <div class="post">
    <% if post.user %> 
      <p><strong><%= post.user.name %></strong> が投稿しました：</p>
    <% else %>
      <p><strong>Already deleted</strong> が投稿しました：</p>
    <% end %>
    <p><%= post.text %></p>
    <p><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
  </div>
<% end %>