<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>


<h4><%= link_to @post.text, edit_post_path(@post) %></h4> <!-- ここをリンクに変更 -->

<% @post.images.each do |image| %>
    <%= image_tag image %>
  <% end %>