<footer style="background-color: #5BAD92;">
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto' style="font-weight: bold; color: white;">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>